<html>
  <head></head>
  <body>
    <div style="padding-right:200px;">
    <h1>Artists. Click on Name to get Album Listing</h1>
    </div>
    <ul style="list-style:none;">
    <% @artists.each do |artist| %>
      <li>
        <h1>Artist: <a href="/artists/<%= artist.id %>"><%= artist.name %></h1></a>
        <p>
        <h2>Genre: <%= artist.genre %></h2>
      </li>
      <br>
    <% end %>
    </ul>
  </body>
</html>